.titulo1{
    color: red;
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
}
.titulo2{    
    font-family: 'Indie Flower', cursive;
}
.titulo3{
    font-family: 'Dancing Script', cursive;
    font-size: 5guitrem; 5.5
}
.contenedor{
    display: flex;
    justify-content: center;
}
button{
    background-color: blueviolet;
    color: bisque;
}